<div class="welcome-tag">
<p>Welcome <%= "#{@user.first_name}" %></p>
</div>

<p>Transactions for <%= @category.name %></p>

<% @transactions.map do |transaction| %>

<p><%=transaction.merchant_name %> : £ <%=transaction.amount %> </p>


<form method="GET" action="/transactions/<%= transaction.id %>/<%= @user.id %>/<%= @category.id %>/edit">
<input class="button" type="submit" value="Edit">
</form>


<form method="POST" action="/transactions/<%= transaction.id %>/<%= @user.id %>/<%= @category.id %>/delete">
<input class="button" type="submit" value="Delete">
</form>

<hr />

<% end %>







