<div class="welcome-tag">
<p>Welcome <%= "#{@user.first_name}" %></p>
</div>

<div class="head-result">

<p>Your budget is: £ <%= sprintf("%20.2f", @user.budget) %></p>

<p>Total spend: £ <%= sprintf("%20.2f", @user.total_spend) %></p>

<p>Amount remaining £ <%= sprintf("%20.2f", @user.budget.to_f - @user.total_spend.to_f) %></p>

<hr />

<p><a href="/new_transaction/<%= @user.id %>">Create new transaction</a></p>

<p><a href="/all_transactions/<%= @user.id %>">View all transactions</a></p>

<p><a href="/edit_targets/<%= @user.id %>">Edit spending targets</a></p>

<hr />

</div>

<p>Spend by category:</p>


<% @user.spend_by_category.map do |total| %>

<p><%=total['name'] %> : £ <%=sprintf("%20.2f", total['sum'].to_f) %> </p>
<a href="/sub_cat/<%= @user.id %>/<%= total['id'] %> ">View/Edit all transactions for <%=total['name'] %> </a>
<hr />

<% end %>



