<div class="welcome-tag">
<p>Welcome <%= "#{@user.first_name}" %></p>
</div>

<div class="head-result">

<p>Your budget is: £ <%= @user.budget %></p>

<p>Total spend: £ <%= @user.total_spend %></p>

<p>Amount remaining £ <%= "#{@user.budget.to_f - @user.total_spend.to_f}" %></p>

<hr />

<p><a href="/new_transaction/<%= @user.id %>">Enter new transaction</a></p>

<hr />

<hr />

<p><a href="/new_transaction/<%= @user.id %>">View all transactions</a></p>

<hr />


</div>

<p>Spend by category:</p>


<% @user.spend_by_category.map do |total| %>

<p><%=total['name'] %> : £ <%=total['sum'].to_f %> </p>
<a href="/sub_cat/<%= @user.id %>/<%= total['id'] %> ">View/Edit all transactions for <%=total['name'] %> </a>
<hr />

<% end %>






